body {
    background: url(./images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#jumboTitle {
    display: flex;
    justify-content: left;
    align-items: center;
}

#sortinghat {
    width: 30%;
}

#studentForm {
    color: lightblue;
    margin: 1em;
}

#validationDefault01 {
    margin: 1em;
}